* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #333;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 100px;
  height: 100px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-left: 10px;
}

nav ul li a {
  color: #E5F9DB;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  background-color: #0000;
  padding: 20px;
  margin-bottom: 20px;
}

section h1, section h2 {
  color: #333;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.image-gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.image-galleryslide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.image-gallery img:hover {
  transform: scale(1.05);
}

aside {
  background-color: #f5f5f5;
  padding: 20px;
}

footer {
  background-color: #3333;
  color: #83764F;
  padding: 20px;
  text-align: center;
}

footer p {
  color: #83764F;
  font-size: 16px;
}

.social-media-icons img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

@media (max-width: 768px) {
  main {
    display: block;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.slider {
  width: 100%;
  height: 100vh;
}

.slider .controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  z-index: 2;
}

.slider .controls > div {
  position: absolute;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.slider .controls > .up:active {
  transform: translateY(-10px);
}

.slider .controls > .down:active {
  transform: translateY(10px);
}

.slider .controls > .up {
  top: 0px;
  right: 0px;
  background: #ffffff;
  color: #ffffff;
  border-radius: 0 5px 5px 0;
}

.slider .controls > .down {
  bottom: 0px;
  left: 0px;
  background: linear-gradient(#11a81b, #033915);
  color: #fff;
  border-radius: 5px 0 0 5px;
}

.slider .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.slider .wrapper .left,
.slider .wrapper .right {
  width: 50%;
  overflow: hidden;
}

.slider .wrapper .left > div,
.slider .wrapper .right > div {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-in-out;
}

.slider .wrapper .left > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 100px 0px 50px;
}

.slider .wrapper .left > div h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 25px;
  background: -webkit-linear-gradient(#25fd09, #003814);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slider .wrapper .left > div p {
  font-size: 1.125rem;
  font-weight: 300;
  color: #555;
  text-align: justify;
}

.slider .wrapper .right > div img {
  width: 100%;
  height: 100%;
  object-fit: obtain;
}

.slider .wrapper .right div:nth-child(1) {
  margin-top: -400vh;
}